<div class="container" style="margin-top: 10px">
    <h1 class="hidden-xs hidden-sm">Шансы успеха по WoD</h1>
    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-sm-4" style="">
                <label class="" for="input_n">Количество дайсов</label>
            </div>
            <div class="col-sm-4" style="">
                <label class="" for="input_k">Надо успехов</label> 
            </div>
            <div class="col-sm-4" style="">
                <label class="" for="input_d">Успех на</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="">
                <input class="form-control" type="text" id="input_n" /> 
            </div>
            <div class="col-sm-4">
                
                <input class="form-control" type="text" id="input_k" /> 
            </div>
            <div class="col-sm-4">
                
                <select class="form-control" id="input_d">
                    <option value="8">8+</option>
                    <option value="6">6+</option>
                </select>
            </div>
            
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-default" id="button_calculate">Шанс нужного (или больше) количества успехов</button>
                <button type="button" class="btn btn-default" id="button_calculate2">Наиболее вероятное количество успехов</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div style="text-align: center;margin:20px">
            <span  class="label label-success" id="result_div" style="font-size: 130%">&nbsp;</span >
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning" role="alert">
            <strong>Дисклеймер:</strong>
            Десятки и единичики (криты) не учитываются. Это слишком сложно -__-
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
        $('#button_calculate').click(function() {
            $.get(
                '/trpg/wod/calculate', 
                {'n': $('#input_n').val(), 'k': $('#input_k').val(), 'd': $('#input_d').val()},
                function(result) {
                    $('#result_div').text( Math.round(result * 1000) / 10 + '%' );
                }
            );
        });
        $('#button_calculate2').click(function() {
            $.get(
                '/trpg/wod/calculate2', 
                {'n': $('#input_n').val(), 'd': $('#input_d').val()},
                function(result) {
                    $('#result_div').html(result[0] + ' &le; k0 < ' + result[1]);
                }
            );
        });
    });
</script>