html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: hidden;
    display: block !important;
    background-color:#CCC;
    margin: 0;
    height: 100%;
    font-family: Verdana, serif;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100000;
    background: white;

    h1 {
        position: relative;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        text-align: center;
    }
}

.button {
    position: relative;
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 3px #fa8319;
}

.button-plus {
    .button();

    &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        background: #fa8319;
        width: 11px;
        height: 3px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 8px;
        top: 4px;
        background: #fa8319;
        width: 3px;
        height: 11px;
    }
}

.button-minus {
    .button();

    &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        background: #fa8319;
        width: 11px;
        height: 3px;
    }
}

.button-back {
    .button();
    &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        border-width: 3px 0 0 3px;
        border-style: solid;
        border-color: #fa8319;
        width: 8px;
        height: 8px;
        transform: rotate(-45deg);
    }

    &:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 8px;
        background: #fa8319;
        width: 14px;
        height: 3px;
    }
}

.button-ok {
    .button();
    box-shadow: inset 0 0 5px 0 #000000;
    background-color: rgb(1, 49, 0);

    &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 3px;
        border-width: 3px 0 0 3px;
        border-style: solid;
        border-color: #fa8319;
        width: 4px;
        height: 8px;
        transform: rotate(-145deg);
    }
}

.hide-button {
    .button();
    position: absolute;
    z-index: 2;

    arrow, cross {
        position: relative;
        top: 8px;
        left: 7px;
        display: block;
        width: 10px;
        height: 9px;
        background-repeat: no-repeat;
        background-position: center;
    }

    cross {
        &:before {
            content: '';
            position: absolute;
            left: -4px;
            top: -1px;
            display: block;
            width: 5px;
            height: 5px;
            border-top: solid 1px rgba(250, 131, 25, 0.8);
            border-left: solid 1px rgba(250, 131, 25, 0.8);
            transform: rotate(135deg);
        }

        &:after {
            content: '';
            position: absolute;
            left: 3px;
            top: -1px;
            display: block;
            width: 5px;
            height: 5px;
            border-top: solid 1px rgba(250, 131, 25, 0.8);
            border-left: solid 1px rgba(250, 131, 25, 0.8);
            transform: rotate(-45deg);
        }
    }

    arrow {
        &:before {
            content: '';
            position: absolute;
            left: -2px;
            top: -1px;
            display: block;
            width: 5px;
            height: 5px;
            border-top: solid 1px rgba(250, 131, 25, 0.8);
            border-left: solid 1px rgba(250, 131, 25, 0.8);
            transform: rotate(-45deg);
        }

        &:after {
            content: '';
            position: absolute;
            left: 3px;
            top: -1px;
            display: block;
            width: 5px;
            height: 5px;
            border-top: solid 1px rgba(250, 131, 25, 0.8);
            border-left: solid 1px rgba(250, 131, 25, 0.8);
            transform: rotate(-45deg);
        }
    }

    &.on {
        arrow {
            &:before {
                left: -4px;
                transform: rotate(135deg);
            }

            &:after {
                left: 1px;
                transform: rotate(135deg);
            }
        }
    }
}

top-panel {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    box-shadow: 0 3px 10px 0 rgba(11, 11, 11, 0.9);
    font-size: 0;
    box-sizing: border-box;

    &.ui-box {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    borders {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        box {
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0 14px 0 0;

            &::after {
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0 14px 0 0;
            }
        }
    }

    player-overlay {
        position: relative;
        display: inline-block;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        overflow-clip: clip;
        height: 30px;
        box-shadow: 3px -0px 2px 0 rgba(11, 11, 11, 0.35);
        font-size: 0;
        padding-right: 30px;
        vertical-align: top;
        background-color: #8c0000;

        icon {
            display: block;
            position: absolute;
            top: 0;
            right: 26px;
            width: 54px;
            height: 29px;
        }

        player-name {
            display: inline-block;
            padding-left: 13px;
            padding-top: 6px;
            font-size: 16px;
            color: white;
        }
    }

    resources {
        display: inline-block;
        padding-left: 7px;

        resource {
            display: inline-block;
            height: 24px;
            box-sizing: border-box;
            background-color: #010101;
            margin: 3px 2px;
            vertical-align: top;
            padding-top: 3px;
            padding-left: 4px;
            padding-right: 11px;

            icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-clip: content-box;
                background-repeat: no-repeat;
                background-position: bottom;
                vertical-align: middle;
            }

            count {
                padding-left: 11px;
                font-size: 14px;
                color: #ffffff;
                vertical-align: middle;
            }

            grow {
                padding-left: 5px;
                font-size: 14px;
                color: #7DD36C;
                vertical-align: middle;

                &.down {
                    color: #DD7171;
                }
            }
        }
    }
}

hide-actions-panel-button {
    bottom: 122px;
    left: 4px;
}

borders {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    box-sizing: border-box;
    z-index: -1;

    box {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: solid 1px rgba(255, 255, 255, 0.14);

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: solid 1px rgba(0, 0, 0, 0.16);
        }
    }
}

actions-panel {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 236px;
    height: 128px;
    box-shadow: 0 3px 10px 0 rgba(11, 11, 11, 0.9);
    font-size: 0;
    transition: transform 0.5s ease;

    borders {
        padding-bottom: 0;
        padding-left: 0;

        box {
            border-bottom: none;
            border-left: none;
            border-radius: 0 14px 0 0;

            &::after {
                border-bottom: none;
                border-left: none;
                border-radius: 0 14px 0 0;
            }
        }
    }

    &.hidden {
        transform: translate3d(-212px, 0, 0);
    }

    buttons-block {
        display: block;
        padding: 17px 0 0 5px;
    }

    action-button {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 44px;
        height: 44px;
        box-sizing: border-box;
        margin: 5px;
        background: no-repeat center;

        &.active {
            box-shadow: inset 0 0 5px 0 #000000;
            background-color: rgba(6, 245, 0, 0.2);
        }
    }
}

turn-tracker-panel {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 215px;
    box-shadow: 0 3px 10px 0 rgba(11, 11, 11, 0.9);

    turn-tracker-header {
        display: block;
        border-bottom: solid 3px black;
        height: 22px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    block {
        position: relative;
        display: block;
        height: 118px;
    }

    timer {
        display: block;
        padding-top: 20px;
        font-size: 15px;
        text-align: center;
        color: #dcdcdc;
    }

    end-turn-button {
        cursor: pointer;
        display: block;
        margin: 20px auto auto;
        width: 187px;
        height: 44px;
        background-image: linear-gradient(to top, #500303, #650808);
        border: solid 3px #8c1b1b;
        line-height: 44px;
        text-align: center;
        font-size: 16px;
        color: #dcdcdc;
    }

    players {
        display: block;
        font-size: 0;
        padding: 2px 0 0 2px;
    }

    player {
        display: block;
        width: 17px;
        height: 17px;

        &.ended {
            &::before {
                content: '';
                position: relative;
                display: block;
                top: 3px;
                left: 3px;
                width: 11px;
                height: 11px;
                background-image: linear-gradient(to top, #000000 0%, #383535);
                border-radius: 50%;
            }
        }
    }
}

minimap-block {
    position: absolute;
    display: block;
    top: 49px;
    left: 0;
    padding: 8px;
    box-shadow: 0 3px 10px 0 rgba(11, 11, 11, 0.9);
}

buildings-block {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 563px;
    height: 122px;
    box-shadow: 0 3px 10px 0 rgba(11, 11, 11, 0.9);
    transition: transform 0.5s ease;

    borders {
        padding-bottom: 0;

        box {
            border-bottom: none;
            border-radius: 14px 14px 0 0;

            &::after {
                border-bottom: none;
                border-radius: 14px 14px 0 0;
            }
        }
    }

    &.hidden {
        transform: translate3d(-50%, 150%, 0);
    }

    buildings {
        display: block;
        margin: 19px 10px 0 10px;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    building {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 128px;
        height: 98px;
        background: rgba(0, 0, 0, 0.47);
        margin: 0 4px;
        font-size: 13.3px;
        overflow: hidden;

        back-button {
            .button-back();
            display: none;
            margin-right: 24px;
            position: absolute;
            left: 0;
            top: 0;
        }

        ok-button {
            .button-ok();
            display: none;
            position: absolute;
            right: 0;
            top: 0;
        }

        building-header {
            display: block;
            color: #fefefe;
            text-align: center;
            width: 100%;
            height: 24px;
            line-height: 24px;
            background: rgba(0, 0, 0, 0.5);
        }

        building-icon {
            display: block;
            padding-top: 27px;
            height: 38px;
            width: 51px;
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            background-origin: content-box;
        }

        costs-block {
            display: block;
            position: absolute;
            right: 5px;
            bottom: 2px;
            font-size: 0;

            cost-block {
                display: block;
                background: rgba(0, 0, 0, 0.5);
                margin-top: 2px;
                font-size: 13.3px;

                cost-icon {
                    padding: 2px;
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                cost-count {
                    vertical-align: middle;
                    color: white;
                    padding: 0 8px 0 0;
                }

                cost-cover {
                    display: none;
                    vertical-align: middle;

                    cost-cover-count {
                        display: inline-block;
                        color: #DD7171;
                        padding: 0 0 0 8px;

                        &.ok {
                            color: #83dd71;
                        }
                    }

                    cost-cover-delim {
                        display: inline-block;
                        color: white;
                        padding: 0 2px;
                    }
                }
            }
        }

        &.active {
            background-color: rgb(87, 88, 18, 0.47);

            costs-block {
                cost-block {
                    cost-cover {
                        display: inline-block;
                    }
                }
            }

            ok-button {
                display: block;
            }

            back-button {
                display: block;
            }

            ok-button, back-button, auto-button {
                &.disabled {
                    display: none;
                }
            }
        }
    }
}

hide-buildings-block-button {
    top: -15px;
    right: 21px;
}

.ui-box {
    box-shadow: 0 3px 10px 0 rgba(11, 11, 11, 0.9);
    border: solid 3px #000000;
    background-color: rgba(0, 0, 0, 0.6);
}

game-overlay {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0;
    left: 0;

    hex-overlay {
        position: absolute;
        display: block;
        background: black;
        width: 50px;
        height: 50px;
        top: 50px;
        left: 50px;
    }

    resource-info {
        position: absolute;

        info {
            display: block;
            position: absolute;
            transform: translate3d(-50%, -50%, 0);
        }

        box {
            position: relative;
            display: block;
            min-width: 100%;
            height: 26px;
            background-color: rgba(0, 0, 0, 0.9);
            margin-bottom: 2px;
            font-size: 0;
            line-height: 26px;
            padding-left: 16px;
            padding-right: 7px;
            white-space: nowrap;
            box-sizing: border-box;

            icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                background-repeat: no-repeat;
                margin-right: 8px;
            }

            count {
                display: inline-block;
                font-size: 14px;
                vertical-align: middle;
                width: 21px;
                color: #83dd71;
            }
        }
    }

    resource-transfer {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 1;

        svg {
            display: none;
            position: absolute;
            pointer-events: none;
            transform: translate3d(-50%, -50%, 0);

            path {
                pointer-events: all;
            }
        }

        box-img-top {
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
            z-index: 1;
            width: 142px;
            height: 40px;
        }

        box-img-center {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 142px;
            height: 83px;
            background-position: 0 -40px;
        }

        box-img-bottom {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 142px;
            height: 40px;
        }

        counters-block {
            display: block;
            position: absolute;
            transform: translate3d(-50%, -50%, 0);
        }

        change-control {
            position: absolute;
            display: inline;
            top: 50px;
            min-width: 75px;
            left: 0;
            font-size: 0;
            white-space: nowrap;
            transform: translate3d(-50%, 0, 0);

            back-button {
                .button-back();
                display: none;
                margin-right: 24px;
            }

            ok-button {
                .button-ok();
                display: none;
            }
        }

        box {
            position: relative;
            display: block;
            min-width: 100%;
            height: 26px;
            background-color: rgba(0, 0, 0, 0.9);
            margin-bottom: 2px;
            font-size: 0;
            line-height: 26px;
            padding-left: 12px;
            padding-right: 12px;
            white-space: nowrap;
            box-sizing: border-box;

            icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                background-repeat: no-repeat;
                margin-right: 8px;
            }

            count {
                display: inline-block;
                font-size: 14px;
                vertical-align: middle;
                width: 27px;
                color: #83dd71;
            }

            need {
                text-align: center;
                display: none;
                font-size: 14px;
                vertical-align: middle;
                width: 21px;
                color: #83dd71;
            }

            have {
                text-align: center;
                display: inline-block;
                font-size: 14px;
                vertical-align: middle;
                width: 21px;
                color: #83dd71;
            }

            delim {
                display: none;
                vertical-align: middle;
                width: 2px;
                height: 11px;
                background-color: rgba(255, 255, 255, 0.4);
                margin: 0 7px 0 3px;
            }

            mod {
                width: 22px;
                display: none;
                font-size: 14px;
                vertical-align: middle;
                color: #83dd71;
            }

            from-text {
                display: none;
                vertical-align: middle;
                font-size: 14px;
                color: #f3f3f3;
            }

            plus-button {
                .button-plus();
                position: absolute;
                right: -26px;
                top: 0;
                display: none;
            }

            minus-button {
                .button-minus();
                position: absolute;
                left: -26px;
                top: 0;
                display: none;
            }

            &.down {
                mod, count, have, need {
                    color: #DD7171;
                }
            }
        }

        &:hover {
            z-index: 2;

            svg {
                display: block;
            }

            counters-block box {
                padding-right: 6px;
                padding-left: 6px;
            }

            ok-button, back-button, auto-button {
                display: inline-block;
            }

            plus-button, minus-button {
                display: block;
            }

            delim, mod, need, from-text {
                display: inline-block;
            }
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.7;

            box {
                plus-button, minus-button {
                    display: none;
                }
            }
        }

        ok-button, back-button, auto-button {
            &.disabled {
                display: none;
            }
        }
    }
}

field-info {
    display: none;
    position: fixed;
    right: 0;
    top: 49px;
    width: 150px;

    &.show {
        display: block;
    }

    resources-list {
        table {
            width: 100%;

            tr {
                th {
                    font-weight: normal;
                    color: white;
                    font-size: 9px;

                    &:nth-child(1) {
                        width: 18px;
                    }
                }

                td {
                    border: solid 2px transparent;
                    background: black;
                    font-size: 7px;

                    icon {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background-clip: content-box;
                        background-repeat: no-repeat;
                        background-position: bottom;
                        vertical-align: middle;
                    }

                    count {
                        color: white;
                    }

                    grow {
                        color: #7DD36C;

                        &.down {
                            color: #DD7171;
                        }
                    }
                }
            }
        }
    }

    buildings-list {
        display: block;

        building {
            display: block;
            background: black;
            margin: 0 2px 2px 2px;
            color: white;
            padding: 2px 0;

            icon {
                margin-left: 4px;
                display: inline-block;
                width: 18px;
                height: 18px;
                background-clip: content-box;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                vertical-align: middle;
            }

            info {
                padding-left: 10px;
                font-size: 7px;
                vertical-align: middle;

                color: #7DD36C;

                &.down {
                    color: #DD7171;
                }

                &.export::after {
                    content: '\2192';
                    padding-left: 4px;
                }
            }
        }
    }

    armies-list {
        army {
            display: block;
            background: black;
            margin: 0 2px 2px 2px;
            color: white;
            padding: 2px 0;

            .pack {
                margin-left: 4px;
                display: inline-block;
                padding-left: 21px;
                height: 18px;
                background-clip: border-box;
                background-repeat: no-repeat;
                background-position: left;
                background-size: contain;
                text-align: right;
                color: #7DD36C;
            }
        }
    }
}